<h1>Listing Current Users For Admin</h1>

<table>
  <tr>
    <th>user_id</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userList.each do |user| %>
  <tr id="products">
    <td><%= user.id %></td>
    <td><%= user.name%></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_product_path(user) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
