<div id="minilogincontainer" >
<table id="functions">
<tr id="functions">
<%= form_for(:session,:url => sessions_path) do |f| %>
<td><%= f.label :email %>:<%= f.text_field :email, :size => "14x1" %> </td>
 <td><%= f.label :password %>:<%= f.password_field :password,:size => "10x1" %> </td>
<td id="miniloginbtn"> <div> <%= f.submit "Login" %> </div> </td>
<% end %>
 </tr>
  </table>
</div>


<div id="hometitler">
  <table id="homepage">
<tr> 
  <td> 

  <div id="word">
  <p id="hometitlertxt">  dreamatic.org  </p> 
  <h3  id="homemotto"> --a place to share your dreams and  <br/> witness both your and others' dreams come true. </h3> 
  <div id="signup">  <a href="http://www.dreamatic.org/signup"> Join the Dreamunity® </a>   </div>
  
  </div>

  </td>
  <td>   <br/> <br/> <br/>
  <div id="slideshow">
  <ul id="slides">
  <li><a href="http://www.dreamatic.org/intro"> <img src="../images/top_gallery/5.gif" alt="top image1" width="440px" height = "270px" id ="slideimg" /> </a> <span id="slidelink"><a href="http://www.dreamatic.org/intro"> Learm more about Dream@t!c </a> </span></li>
  <li><a href="http://www.dreamatic.org/signup"><img src="../images/top_gallery/join.png" alt="top image2" width="440px" height = "270px" id ="slideimg" /> </a> <span id="slidelink">  <a href="http://www.dreamatic.org/signup"> Join Now.</a> </span></li>
  <li><a href="http://www.dreamatic.org/standards"><img src="../images/top_gallery/logobetheone.png" alt="top image3" width="440px" height = "270px" id ="slideimg" /> </a><span id="slidelink"><a href="http://www.dreamatic.org/standards"> Learm more about our standards </a></span></li>
  </ul>
  </div>
  </td>
</tr>
  </table>
  
    <p id = "introhome"> Dreams are <strong> good</strong>. </p> <br/>
  <p id = "introhomesub"> What in the world is Dreamatic? ↓ </p>
  
</div>
  
<div id="introbox">
 <br/><br/><br/><br/>
  <table id ="homepage">
  <tr>
  <td id="introhome1"> What we do </td>
  <td id="introhome1"> What you do </td>
  </tr>
  <tr>
  <td id = "introhomesub"> Provide a platform for all the dreamers. </td>
  <td id = "introhomesub"> Dream, Dare and Do. </td>
  </tr>
  <tr>
  <td id = "introhomesub2"> \ Provide a sharing platform <span> <img id="introicons" src="../images/share.png"/> </span> <br/> 
    <br/> \ Provide a user centered experience for sharing <span> <img id="introicons" src="../images/user.png"/> </span> <br/> 
    <br/> <span> <img id="introicons" src="../images/advertise.png"/> \ Advertise your beautiful dreams</span><br/>
    <br/> \ Protect your privacy <span> <img id="introicons" src="../images/shield.png"/> </span> <br/> <br/> <br/></td>
  <td id = "introhomesub2"> \ Have a dream, a goal in life <span> <img id="introicons" src="../images/idea.png"/> </span> <br/> 
  <br/> \ Read the user manual before you start rolling <br/> 
  <br/> \ Share your dreams with the world and get help from the community! <span> <img id="introicons" src="../images/earth.png"/> </span><br/>
  <br/>  \Dream on! <br/><span> <img id="introicons" src="../images/dreamon.png"/> </span> <br/> <br/></td>
  </tr>

  </table>
</div>