<div id="changePass">
<%= form_for @user, :action => :change_password_update do |f| %>
<%= f.label :new_password %> <br />
<%= f.password_field :password %> <br /><br />
<%= f.label :new_password_confirmation %> <br />
<%= f.password_field :password_confirmation %> <br /><br />
<%= f.submit "Change Password" %> <br />
<% end %>
<%if !@password.nil?%>
<%=@password %>
<%end%>

<div id="error">
<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => "notice_ #{key}" %>
    <%= content_tag :script, :type => "text/javascript" do %>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>
</div>
    
</div>

<div id="joinclear"> </div>
</div>

