<table>
  <tr>
    <th>Content</th>
    <th>Posted by</th>
    <th>at</th>
    <th>Liked by</th>
    <th></th>	
    <th></th>
  </tr>

<% @dreamlist.each do |dream| %>
  <tr id="dreams">
    <td><%= dream.content %></td>
    <td><%= dream.user.name %></td>
    <td><%= dream.created_at %></td>
    <td><%= dream.rank %> " people"</td>	
    <td>
	<% if (@user.email != dream.user.email) %>
	<%= link_to "Like", dream, method: :delete %>
        <% else %>
	<span> **Your post** </span>
	<%end%>
	</td>
  </tr>
<% end %>
</table>

